.cache/
.sable/
config/chunky/tasks/
config/packetfixer.properties
config/spark/tmp/
config/spark/tmp-client/
config/structurify/
crash-reports/
defaultconfigs/
libraries/
local/
logs/
mods/
world/advancements/
world/DIM-1/
world/DIM1/
world/data/
world/entities/
world/kubejs_persistent_data.nbt
world/level.dat
world/level.dat_old
world/lss-lod/
world/mfix_stronghold_cache_v2.nbt
world/playerdata/
world/poi/
world/region/
world/serverconfig/readme.txt
world/session.lock
world/stats/
world/streamsreflowing/
world/sublevels/
.curseforge-files-manifest.json
.neoforge-manifest.json
.rcon-cli.env
.rcon-cli.yaml
.run-neoforge.env
banned-ips.json
banned-players.json
cf-api-key
eula.txt
ops.json
run.bat
run.sh
server.properties
user_jvm_args.txt
usercache.json
usernamecache.json
whitelist.json
